  {% load static %}

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Speak Up Mithila<span>.</span></h3>
              <p>
                Mahanti Lal Chowk, Madhubani <br>
                Bihar-847211, India<br><br>
                <strong>Phone:</strong> +91 7301619101 <br>
                <strong>Email:</strong> speakupmithila@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
                <a href="http://www.facebook.com/speakupmithilaa" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="http://www.instagram.com/speakupmithila" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="http://www.twitter.com/speakupmithila" class="google-plus"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCNZgYgcJKL_0s-YdJR0XusA" class="youtube"><i class="bx bxl-youtube"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Stage for</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="">Poetry</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">Storytelling</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">Music</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">Stand Up Comedy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">Art</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">Literature</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">SUM Family</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Artist Registration</a></li>
            </ul>

          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Enter your email ID below to subscribe to our newsletter.</p>
            <form action="{% url 'home' %}" method="">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright 2020 <strong><span>Speak Up Mithila</span></strong>. All Rights Reserved. Made with <i id="heart" class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Lance India</a>
      </div>
      <div class="credits">
      </div>
    </div>
  </footer>



    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/tilt.jquery.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/odometer.min.js' %}"></script>
    <script src="{% static 'js/jquery.typewriter.js' %}"></script>
    <script src="{% static 'js/fancybox.min.js' %}"></script>
    <script type="text/javascript">
        var BASE_URL = "index.html";
    </script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script language="javascript">
$('#myCarousel').on('slide.bs.carousel', function (e) {


    var $e = $(e.relatedTarget);
    var idx = $e.index();
    var itemsPerSlide = 4;
    var totalItems = $('.carousel-item').length;

    if (idx >= totalItems-(itemsPerSlide-1)) {
        var it = itemsPerSlide - (totalItems - idx);
        for (var i=0; i<it; i++) {
            // append slides to end
            if (e.direction=="left") {
                $('.carousel-item').eq(i).appendTo('.carousel-inner');
            }
            else {
                $('.carousel-item').eq(0).appendTo('.carousel-inner');
            }
        }
    }
});


  $('#myCarousel').carousel({
                interval: 2000
        });


  $(document).ready(function() {
/* show lightbox when clicking a thumbnail */
    $('a.thumb').click(function(event){
      event.preventDefault();
      var content = $('.modal-body');
      content.empty();
        var title = $(this).attr("title");
        $('.modal-title').html(title);
        content.html($(this).html());
        $(".modal-profile").modal({show:true});
    });

  });

  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:3
        }
    }
})
  </script>


</body>
</html>
